<nav class="navbar navbar-expand-sm sticky-md-top navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand mars" href="/">NOVA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/sparks">Sparks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/pilots">Pilots</a>
        </li>
      </ul>
      <% if not current_user%>
        <form class="d-flex">
          <%= link_to "Sign up", "/users/sign_up/", class: "btn btn-sm btn-outline-dark me-2"%>
          <%= link_to "Log in", "/users/sign_in/", class: "btn btn-sm btn-outline-dark"%>
        </form>
      <% else %>
          <span class="d-flex navbar-text me-2">
            <%= current_user.username %>
          </span>
        <form class="d-flex">
          <%= link_to "Sign out", "/users/sign_out/", data: { turbo_method: :delete }, class: "btn btn-sm btn-outline-dark" %>
        </form>  
      <% end %>
    </div>
  </div>
</nav>