<h1 class="heading">Nova</h1>

<div class="d-flex justify-content-evenly">
  <a class="btn btn-outline-light" href="<%= sparks_path %>">Sparks</a>
  <a class="btn btn-outline-light" href="<%= sparks_path %>">Sparks</a>
</div>