<div data-controller="tooltip" class="mt-2 stats spark-highlight-<%= accent %> mars d-flex justify-content-evenly">
  <span>
    <span class="bi-sun-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="Powerful, destructive, sweeping"></span>
    <%= sun %>
  </span>
  <span>
    <span class="bi-moon-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="Quick, reactive, dangerous"></span>
    <%= moon %>
  </span>
  <span>
    <span class="bi-sunglasses" data-bs-toggle="tooltip" data-bs-placement="top" title="Practiced, patient, methodical"></span>
    <%= shade %>
  </span>
</div>