<div data-controller="tooltip" class="mt-2 stats spark-highlight-<%= accent %> mars d-flex justify-content-evenly">
  <span>
    <span class="bi-sun-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="powerful, emotional, sweeping, destructive"></span>
    <%= sun %>
  </span>
  <span>
    <span class="bi-moon-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="reactive, quick, nimble, effective"></span>
    <%= moon %>
  </span>
  <span>
    <span class="bi-sunglasses" data-bs-toggle="tooltip" data-bs-placement="top" title="methodical, practiced, surgical, patient"></span>
    <%= shade %>
  </span>
</div>