<% if @access %>
  <div class="row">
    <div class="col-sm-4 order-sm-2">
      <%= render partial: 'pilot_blurb', locals: { pilot: @pilot }%>
    </div>

    <div class="col order-sm-1">
      

      <%= link_to "Edit", edit_pilot_path(@pilot)%>
      <%= link_to "Edit sun", "/pilots/#{@pilot.id}/edit_sun"%>
      <%= link_to "Select Spark", "/pilots/#{@pilot.id}/spark_select" %>
    </div>
  </div>
<% else %>
  <h1>Pilot not public</h1>
<% end %>

