<% if @access %>
  <div class="row">
    <div class="col-sm-4 order-sm-2">
      <%= render partial: 'pilot_blurb', locals: { pilot: @pilot }%>
    </div>

    <div class="col order-sm-1">
      <%= render 'spark_blurb' %>
    </div>
  </div>
<% else %>
  <h1>Pilot not public</h1>
<% end %>

