
.blurb {
    height: 87vh;
    margin: 3%;
    padding: 5%;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 0px;
}

.profile-img {
    width: 100%;
    max-width: max-content;
    max-height: 220px;
}

.stats {
    font-size: 1.5rem;
}