body {
    background-color: black;
    color: white;
    margin-bottom: 30%;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 2px solid white;
    border-radius: 10px;
    background-color: $gray-900;
    color: white;
}

label {
    font-size: 30px;
}

.heading {
    font-family: 'mars';
    text-align: center;
    font-size: min(20vw, 200px);
    padding: 4%;
}

.quote {
    text-align: center;
    font-size: min(2em, 5vw);
    font-family: 'mars';
    width: 80%;
    margin: auto;
}

.mars {
    font-family: "mars";
}

.white {
    color: white;
}

@each $name, $color in $spark-names {
    .spark-card-#{$name} {
        border-color: $color;
        border-left-width: 20px;
        background-color: black;
        margin-bottom: 10px;  
    }
    .spark-highlight-#{$name} {
        background-color: $color;
        color: black;
        padding: 5px;
    }
}

.icon-styling {
    color: rgb(255, 199, 62);
    font-size: 2rem;
}