body {
    background-color: black;
    color: white;
    margin-bottom: 30%;
}

.heading {
    font-family: 'mars';
    text-align: center;
    font-size: 10vw;
    padding: 4%;
}

.mars {
    font-family: "mars";
}

.white {
    color: white;
}

@each $name, $color in $spark-names {
    .spark-card-#{$name} {
        border-color: $color;
        border-left-width: 20px;
        background-color: black;
        margin-bottom: 10px;  
    }
    .spark-highlight-#{$name} {
        background-color: $color;
        color: black;
        padding: 5px;
    }
}

.icon-styling {
    color: rgb(255, 199, 62);
    font-size: 2rem;
}