body {
    background-color: black;
    color: white;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 2px solid white;
    border-radius: 10px;
    background-color: $gray-900;
    color: white;
}

input[type=number] {
    padding-left: 30px;
}

label {
    font-size: 20px;
}



.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

.mars {
    font-family: "mars";
}

.white {
    color: white;
}

.spark-card {
    border-color: white;
    border-left-width: 20px;
    background-color: black;
    margin-bottom: 10px;  
    transition: 0.3s;
}

.spark-highlight-sparkless {
    background-color: white;
    color: black;
    padding: 5px;
}

.spark-highlight-supernova {
    background-color: $supernova;
    color: black;
    padding: 5px;
}

@each $name, $color in $spark-names {
    .spark-card-#{$name} {
        border-color: $color; 
    }
    .spark-highlight-#{$name} {
        background-color: $color;
        color: black;
        padding: 5px;
    }
}

.icon-styling {
    color: rgb(255, 199, 62);
    font-size: 2rem;
}

