$pyre: rgb(254, 90, 29);
$scorch: rgb(112, 81, 136);
$voyager: rgb(235, 114, 148);
$warden: rgb(145, 130, 71);
$pox: rgb(133, 186, 78);
$grim: rgb(120, 224, 214);
$drifter: rgb(70, 107, 58);
$sanguine: rgb(216, 47, 43);
$infernal: rgb(129, 51, 96);

$spark-names: (
    "pyre": $pyre,
    "scorch": $scorch,
    "voyager": $voyager,
    "warden": $warden,
    "pox": $pox,
    "grim": $grim,
    "drifter": $drifter,
    "sanguine": $sanguine,
    "infernal": $infernal,
);

$supernova: rgb(255, 199, 62);