.heading {
    font-family: 'mars';
    text-align: center;
    font-size: min(20vw, 200px);
    padding: 4%;
}

.quote {
    text-align: center;
    font-size: min(2em, 5vw);
    width: 80%;
    margin: auto;
}